@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.slick-slide > div {
    margin: 0 10px;
}

.slick-next {
    background: rgb(243, 243, 243) !important;
  }
  
  .slick-prev {
    background: rgb(243, 243, 243) !important;
  }
  

  .slick-prev:before,
  .slick-next:before {
    color: rgb(0, 0, 0);
  }